.nav_bar{
    height: 100px;
    background-color: rgb(18, 12, 24);
}
.bg_azure{
    background-color: rgb(49, 138, 46);
}
.img{
    width: 100%;
    height: 100%;
    
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.button_download{
    border: 1px solid white;
    padding: 5px;
    width: 130px;
    margin-top: 10px;
    height: 40px;
    text-align: center;
    color: white;
    border-radius: 5px;
}
.bg_blue{
    background-color: rgb(4, 4, 22);
}